

.itemContent{
  width: auto;
  height: 100px;
  background-color: #808080;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}


.testContainer li{
  display: block;
  float: left;
  margin-right: 5px;
  padding: 5px;
}

.testContainer li a{
  width: 150px;


}


ul {
  overflow: auto;
}

div.items{
  display: block;;
}

.displayItem{
    display: block;;
}

.dontDisplayItem{
  display: none;
}


/*

div.items p:not(:target) {display: none};
div.items p:target (display:block);
div.items p {height :100%}


.testContainer li{
  padding: 5px;
  margin: 0px;
  width: auto;
}
/*
