

.itemContent{
  width: 98%;
  height: 500px;
  background-color: #808080;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}


.testContainer li{
  display: block;
  float: left;
  margin-right: 5px;
  padding: 5px;
}

.testContainer li button{
  width: 150px;

}


ul {
  overflow: auto;
}

.contentContainer.div{
  width: 600px;
  border: 1px black solid;
}
/*
div.items p:not(:target) {display: none};
div.items p:target (display:block);
div.items p {height :100%}
/*
.testContainer li{
  padding: 5px;
  margin: 0px;
  width: auto;
}
