
/*
.testContainer li{
  display: block;
  margin-top: 27px;
  width: 800px;
}

*/

 .itemButonStyle{
   font-family: Arial,sans-serif;
 }

 .testContainer li button{
   width: 100%;

 }
 .testContainer li{
   padding: 5px;
   margin: 0px;
   width: auto;
 }
